<%= render 'shared/navbar' %>

<%= form_for @link, url: url_for(controller: 'links', action: 'create'), :html => {method: :post} do |f| %>
  <!--row-->
  <div class="row">
    <!--form-group-->
    <div class="form-group col-lg-6">
      <%= f.label :url, class: 'form-label' %>
      <%= f.text_field :url, class: 'form-control', placeholder: 'https://example.com', required: true,
                             pattern: "[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?" %>
    </div><!--form-group-->

    <!--row-->
    <div class="row">
      <!--form-group-->
      <div class="form-group col-lg-4">
        <label for="" style="color:#fff">.</label>
        <%= f.submit class: 'btn btn-primary' %>
      </div><!--form-group-->
    </div><!--row-->
  </div><!--row-->
<% end %>

<% if params[:link_prefix].present? %>
  <!--row-->
  <div class="row">
    <!--form-group-->
    <div class="form-group col-lg-6">
      <label for="short_link">Copy shot link:</label>
      <%= text_field_tag 'short_link', nil, class: 'form-control' , value: "#{ENV['App_Domain']}/l/#{params[:link_prefix]}" %>
    </div><!--form-group-->
  </div><!--row-->
<% end%>
