<%= render 'shared/navbar' %>

<h4 class="card-title">
  Total links
  <small> <%=pluralize(@links.total_count, 'link')%> </small>
</h4>

<table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
  <thead>
    <tr>
      <th>User</th>
      <th>Url</th>
      <th>Short link</th>
      <th>Visits</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%=link&.user&.email%></td>
        <td>
          <%= link_to link.url, alt: link.url, title: link.url, target: '_blank'  do %><%= link.url %><% end %>
        </td>
        <td><%= link_to short_link_path(prefix: link.prefix), alt: link.url, title: link.url, target: '_blank'  do %>
          <%= ENV['App_Domain'] %>/l/<%= link.prefix %>
          <% end %>
        </td>
        <td><%= link.visits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <%= paginate @links %>
</nav>
