<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['APP_Name'] %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= ENV['App_Description'] %>">
    <meta name="author" content="<%= ENV['App_Author'] %>">
    <!-- Favicon icon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--container-->
    <div class="container">
      <%= render partial: 'shared/alerts' %>

      <%= yield %>
    </div><!--container-->
  </body>
</html>
